.import-button {
    height: 40px;
    margin: 20px;
}

.add-button {
    height: 40px;
    margin: 20px;
}

.full-width {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.map {
    background-color: white;
    width: 100;
    overflow: scroll;
}

.wrapper {
    display: flex;
    justify-content: space-between;

    .box {
        width: 46%!important;
        margin-left: 2%;
        margin-right: 2%;
    }
}

.projects-header {
    margin-right: 5%;
    margin-left: 5%;

    h1 {
        font-weight: 300;
        margin: 0;
        font-size: 20px;
        padding: 28px 12px;
    }
}
